name: rally_assets
description: Assets for the app Rally, a Flutter sample app based on the Material study Rally.
version: 1.0.0
author: Per Classon <perc@google.com>
homepage: https://github.com/material-components/material-components-flutter-codelabs-packages

environment:
  sdk: ">=2.1.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter